* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-image: linear-gradient(to right, white, rgb(226, 217, 238));
}
nav {
  background: -webkit-linear-gradient(to right, #001510, #00bf8f); 
  background: linear-gradient(to right, #001510, #00bf8f); 
  height: 50px;
  padding: 10px;
  box-shadow: 5px 6px 12px #888888;
}
.navbar {
  display: flex;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  max-width: 1350px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  justify-content: space-between;
  letter-spacing: 2px;
}
.todopanel {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: space-between;
}
.left , .right{
  padding: 18px;
  max-width: 550px;
  box-shadow: 2px 4px 14px grey;
  min-height: 500px;
  border-radius: 5%;
}
.mainH{
  display: flex;
  gap: 6px;
  margin-bottom: 16px;
}
.taskheading {
  padding: 8px;
  font-size: x-large;
  background-color: rgb(31, 59, 50);
  border: 0 solid;
  border-radius: 20%;
  color: white;
}
#task-detail,
#name-detail {
  margin: 14px 0;
  width: 100%;
  font-size: large;
  outline: none;
  padding: 6px;
  border: none;
  border-bottom: 2px solid grey;
  border-bottom-width: 1px grey;
  background-color: transparent;
}
#add-todo {
  margin-top: 8px;
  background-color: rgb(48, 77, 66);
  border-radius: 2px;
  font-size: large;
  font-weight: 600;
  padding: 8px;
  color: white;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}
#displaytasks {
  margin-top: 12px;
  width: 100%;
  padding: 12px;
  line-height: 20px;
}
.todo-element-display {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(175, 175, 175);
  padding: 4px;
}
.btn-of-todo {
  display: flex;
  gap: 10px;
}

.checkbox-btn {
  width: 20px;
  height: 20px;
}
